@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --instagram-gradient: linear-gradient(45deg, #833ab4 8%, #fd1d1d, #fcb045);
  --instagram-to-traparent: linear-gradient(to bottom, rgba(131, 58, 180, 1) 8%, rgba(253, 29, 29, 0.8), rgba(252, 176, 69, 0));
  --instagram-gradient-nopurple: linear-gradient(to right, #f84960, #ef8b33, #e08422, #e14c0c);
  --instagram-gradient-nopurple-dark: linear-gradient(to right, #C51212, #BD4C2C, #C05B29, #C99036);
  --google--gradient-blue: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  --skeleton-gradient: linear-gradient(to right, #bbb, #999, #ddd);
}

*::-webkit-scrollbar {
  width: 0px;
}

.bg-ig {
  background: var(--instagram-gradient);
}

.bg-ig-np {
  background-image: var(--instagram-gradient-nopurple);
}

.bg-gg {
  background-image: var(--google--gradient-blue);
}

.gradient-hover {
  background-size: 300% 100%;
}

.gradient-hover:hover {
  background-position: 100% 0;
}

.bg-skeleton {
  background-image: var(--skeleton-gradient);
  background-size: 300% 100%;
  animation: bright 2s infinite ease-in-out;
}

.fromRight {
  animation: fromRight .5s;
}

.toRight {
  animation: toRight .3s;
}

@keyframes bright {

  0%,
  100% {
    background-position: 100% 0
  }

  50% {
    background-position: 0;
  }
}

@keyframes fromRight {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}
@keyframes toRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-120%);
  }
}